header {
  background-color: #03a9f4;
  margin-bottom: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #252525;
}

header h1 {
  line-height: 1;
  margin-bottom: 0;
}

header p {
  margin-top: 0.5em;
}

form {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.day {
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 7px;
  box-shadow: 1px 1px 13px 0px black;
}

.weather-image {
  width: 40%;
}

.day-info {
  padding: 20px;
}

.day-info h3 {
  margin-top: 0;
  margin-bottom: 0;
}

/*.day-info p {
  margin: 0.5em 0;
}*/